@font-face {
    font-family: 'Bariol Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol Regular'), url('./assets/fonts/bariol_regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Bariol Regular Italic';
    font-style: italic;
    font-weight: normal;
    src: local('Bariol Regular Italic'), url('./assets/fonts/bariol_regular_italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Bariol Light';
    font-style: normal;
    font-weight: 400;
    src: local('Bariol Light'), url('./assets/fonts/bariol_light-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Bariol Light Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Bariol Light Italic'), url('./assets/fonts/bariol_light_italic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Bariol Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Bariol Bold'), url('./assets/fonts/bariol_bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Bariol Bold Italic';
    font-style: italic;
    font-weight: bold;
    src: local('Bariol Bold Italic'), url('./assets/fonts/bariol_bold_italic-webfont.woff') format('woff');
}