
// Custom text colors

.has-primary-color {
	color: $color__primary;
}

.has-secondary-color {
	color: $color__secondary;
}

.has-accent-color {
	color: $color__accent;
}

.has-white-color {
	color: $color__white;
}
