.site-footer {
    @include font-size (1);
    color: white;
    
    background-image: url('./assets/img/footer-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: -6rem;

    @include breakpoint(laptop) {
        background-position: top right;
    }

    .footer {
        padding-top: 16rem;
        @include breakpoint(laptop) {
            padding-top: 8rem;
        }
        padding-bottom: $space-xs;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        li {
            line-height: 2;
        }
    }

    a {
        color: white;
        &:hover {color: $color__text-main;}
    }

    address {
        font-style: normal;
    }
 }

 .site-info {
     margin-bottom: $space-xs
 }

 #footer-menu {
    display: inline-flex;
    font-size: 80%;

    @include breakpoint(laptop) {
        justify-items: center;
    }
    
    li {
        padding: 0 1em;

        &:last-child {
            padding: 0 0 0 1em;
        }
    }
}