#subhero {
  margin-top: $space-xxxl;
  
  .sf-card-image {
    position: relative;
  }

  .icon-circle-bg {
    position: absolute;
    right: 24px;
    bottom: -40px;
  }
}

.sf-cta__hero-calcular {
  background: $color__gradient;
  border-radius: 1em;
  color: white;
  padding: $space__unit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint(mobile) {
    flex-direction: column;    
  }

  span {
    margin: .5em .5em;
    flex-basis: 33%;
    text-align: left;
    @include breakpoint(mobile) {
      max-width: 180px;
      margin: 1em .5em;
      text-align: center;
    }
  }
  
  &>div {
    text-align: center;
    p { margin: 0;}
    small {font-size: 60%;}
  }
}

.sf-form-calcular {
  display: flex;

  @include breakpoint(mobile) {
    margin-top: 1.5em;
  }
  
  .sf-input {
    border-radius: $space__unit 0px 0px $space__unit;
    padding: 9.5px 0 9.5px 1em;
    @include breakpoint(xsmobile) {
      max-width: 120px;
    }
  }

  .btn {
    border-radius: 0px $space__unit $space__unit 0px;
  }
}

#sf-cta {  
  overflow: hidden;
  position: relative;
  margin-top: -4em;
  min-height: 60em;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/img/cta-bg.svg');
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-color : $color__bg;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/img/cta-bg-bottom.svg');
    z-index: -1;
    transform: scaleY(-1);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .container {
    margin-top: 16em;
    @include breakpoint(laptop) {
      margin-top: 8em;
    }
    margin-bottom: $space-xxxl;

    .sf-card {
      padding: $space-xs;
      background: $color__gradient;
      color: white;
      border: none;
    }
    .cta-list {
      list-style: none;
      margin: 0;
      position: relative;
      padding-left: $space-lg;

      li::before{
        content: '';
        background: $color__accent;
        width: $space-xs;
        height: $space-xs;
        display: block;
        position: absolute;
        left: 0;
        border-radius: $border__radius;
      }
    }
  }

  form {
    &> div {
      padding-bottom: $space-xs;
      
      &:nth-last-child(-n+2) {
        padding-bottom: 0;
      }
    }
    .wpcf7-list-item label {
      font-size: 100%;
      display: inline-flex;
      align-items: center;
    }
  }

  .btn:hover {
    background: white;
    color: $color__accent;
    cursor: pointer;
  }

}

span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required.wpcf7-exclusive-checkbox {
  display: flex;
  @include breakpoint(mobile) {
    display: block;
  }
}

span.wpcf7-list-item {
  margin: 0;

  &:first-child {
    padding-right: 1em;
  }
}

#sf-faqs {
  margin-top: $space-lg;
  margin-bottom: $space-xxxl;
}

.icon-circle-bg {
  background-color: $color__secondary;
  border-radius: $border__radius;
  width: $space-lg;
  height: $space-lg;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: $space-xs;
}

#sf-clients .widget {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    padding: $space__unit;
  }
}

.home #sf-text-services .bottom-md {
  align-items: flex-start;
}

/* ---------------- For Animation on Scroll ---------------- */
.slideanim {
  visibility:hidden;
  visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {visibility: visible; animation:slide 1s;}
.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}

@keyframes slide {
  0% {
      opacity: 0;
      transform: translateY(50%);
  } 
  100% {
      opacity: 1;
      transform: translateY(0);
  } 
}
