.sf-project {
    img {
        border-radius: $space__unit;
    }
}

.project-info {
    display: flex;
    align-items: center;
    &:first-child {
      font-weight: bold;
      svg.icon {
        fill: $color__primary;
      }
    }
    
    span {
      padding-left: .125em;
    }
}

.sf-project .project-info strong{ margin-right: $space-lg; }

.post-type-archive-proyectos .sf-cta__hero {
    background: $color__accent !important;
}

#sf-related-projects {  
    overflow: hidden;
    position: relative;
    min-height: 40em;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url('./assets/img/cta-bg.svg');
      z-index: -1;
      background-size: contain;
      background-repeat: no-repeat;
      background-color : $color__bg;
    }
  
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('./assets/img/cta-bg-bottom.svg');
      z-index: -1;
      transform: scaleY(-1);
      background-size: contain;
      background-repeat: no-repeat;
    }

    .container {
        margin-top: 10em;
        @include breakpoint(laptop) {
          margin-top: 8em;
        }
    }
}

.testimonial {  
  position: relative;
  background-color : $color__bg;

  .container {
      margin-top: 4em;
      margin-bottom: 4em;

      .col-xs-12 {
        padding-top: 3em;
        padding-bottom: 3em;
      }
  }
}

.sf-loadmore {
  z-index: 99;
  padding: $space__unit $space-md;
  text-decoration: none;
  line-height: 1;
  margin: 3em auto;
	border-radius: $border__radius;
	font-weight: bold;
  border: 0;
  color: white;
  position: relative;

  &::before {
    background-color: $color__primary;
    content: '';
    display: block;
    width: 16em;
    height: 2.5em;
    border-radius: $border__radius;
    position: absolute;
    left: calc(50% - 8em);
    top: 4px;
    z-index: -1;
  }

  &:hover {
    cursor: pointer;
  }
  
}