.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	.widget-title {
		margin-bottom: $space-xxs;
	}
}

aside#secondary {
	padding: $space-xs;
	box-shadow: 0 0 0 1px rgba(50,50,50,0.04), 0 1px 3px 0 rgba(50,50,50,0.08), 0 16px 24px 0 rgba(50,50,50,0.06);
	border-radius: $space__unit;
	background: white;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			padding: $space-xxs 0 0;
		}

	}

	a {
		color: $color__text-main;
		&:hover {color: $color__link-hover;}
	}
}
