#masthead {
	z-index: 999;
	position: relative;
}
.site-branding {
	grid-area: brand;
}

.site-contact-btn {
	justify-self: end;

	a {
		display: flex;
		align-items: center;
		margin: 0 .5em;
		padding:  $space-xxs $space-xs;
		@include breakpoint(tablet) {
			padding: .25em;
			margin: 0 1em;
		}
	}
	
	span {
		@include breakpoint(tablet) {display:none;}
	}
	.btn-contact a {
		margin: 0 1.25em 0 0;
		@include breakpoint(mobile) {
			display: none;
		}

	}
}

.solarfam-nav {
	position: absolute;
	left: $space__unit;
	right: $space__unit;
	top: $space__unit;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: "brand ." "brand .";

	@include breakpoint(tablet) {
		grid-template-columns: minmax(auto, 200px) 1fr 90px;
		grid-template-rows: 1fr;	
		&>* {
			align-self: center;
		}
	}
}

.menu-main-nav-container {
	display: flex;
	justify-content: flex-end;
	transition: all .3s ease;
		@include breakpoint(tablet) {
			transform: translateX(-999px);
			position: fixed;
			top: 0;
			left: 0;
			height: 100vh;
			width: 69vw;
			transition: all .3s ease;
			z-index: 3;
			background-color: white;
			padding: 1.5em 1em;
			justify-content: flex-start;
			box-shadow: 10px 0px 10px -3px rgba(0,0,0,0.5);
		}

	ul {
		list-style: none;
  		padding: 0;
  		margin: 0;
  		position: relative;
  		/* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  		box-sizing: border-box;
		  clear: right;

		display: flex;
		@include breakpoint(tablet) {
			flex-direction: column;
			justify-content: flex-start;
			display: block;
		}

		li {
			//display: flex;

			&:hover > ul {
				position: absolute;
				background: white;
				display: block;
				@include breakpoint(tablet) {
					position: relative;
				}
			}
			

			a {
				display: inline-block;
				padding: .5em 1em;
				color: $color__text-main;
				&:hover {
					color: $color__link;
					cursor: pointer;
				}
				@include breakpoint(tablet) {
					width: 100%;
				}
			}

			ul {
				overflow: hidden;
				flex-direction: column;
				transition: all .3s ease;
				display: none;
				border-radius: 1em;
				
				li {
					@include breakpoint(tablet) {
						padding-left: .5em;
						display: flex;
					}
					a{ flex: 1;}
				}
			}

			&.focus > ul {
				transition: all .3s ease;
				display: block;
				
			}
		}

	}
}

.toggled {
	.menu-toggle {
		background: $color__primary;
	}
	.menu-main-nav-container {
		transform: translateX(0);
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

.menu-toggle {
	display: none;
  	@include breakpoint(tablet) {
		display: block;
	}
}



