.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 4em 0;
    justify-content: center;
}

.page-item {
	margin-right: .5em;
    background-color: $color__primary;
    border-radius: 4px;

    &.active span{
        background-color: $color__link;
        border-radius: 4px;
        color: white;
    }
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    
    &:hover {
        background-color: $color__link;
        border-radius: 4px;
        color: white;
    }
}